websockets==11.0.3
websocket-client==1.9.0
python-dotenv==1.0.0
pandas==2.3.3
numpy==2.3.4
python-dateutil==2.8.2
eth-account~=0.13.7
eth-abi~=5.2.0
web3~=7.11.0
requests~=2.32.3
textual==6.3.0
ccxt==4.5.11
asyncio==4.0.0